.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3a8a);
  font-family: Arial, sans-serif;
}

.login-card {
  width: 350px;
  padding: 40px;
  border-radius: 15px;
  background: #10b981;
  backdrop-filter: blur(15px);
  text-align: center;
  color: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

.login-card h2 {
  margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: black;
}

.input-group input::placeholder {
  color: rgb(167, 166, 166);
}

.remember {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 20px;
  gap: 8px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #EBEBEB;
  color: #1e3a8a;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #7D8287;
}

.forgot {
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.8;
  cursor: pointer;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
}

.signup span {
  font-weight: bold;
  cursor: pointer;
}
.logoCasa img {
  width: 50px;
  margin-bottom: 25px;
}
.googlelogin img {
  border-radius: 8px;
}